/* Navbar */

.navbar {
  background-color: #384658;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
}

.navbar a {
  text-decoration: none;
  width: 200px;
  text-align: center;
  height: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.1em;
  color: whitesmoke;
  padding: 10px 0px;
  font-size: 0.8em;
}

.navbar p {
  text-decoration: none;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.1em;
  color: whitesmoke;
  padding: 10px 0px;
  font-size: 0.6em;
}

.navbar a:active {
  background-color: #6d6e70;
}

body {
  margin: 0px;
  background-color: #384658;
}
/* Homepage */

#home {
  background-color: #6d6e70;
  background-image: url("./images/mauer.jpg");
  background-position: bottom;
  background-size: 100%;
  color: whitesmoke;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home h1 {
  font-size: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: #6d6e70;
  padding: 10px;
}

#home h2 {
  background-color: #c9a0c4;
  font-size: 1.5em;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
}

.zitat {
  background-color: #384658;
  color: whitesmoke;
  max-width: 710px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: -0.02rem;
  font-size: 0.8em;
  text-align: center;
}

/* Autor */

#autor {
  background-color: #384658;
  color: whitesmoke;
  max-width: 710px;
  margin: 0px auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: -0.02rem;
  font-size: 0.8em;
  gap: 20px;
  display: flex;
  flex-direction: row-reverse;
  padding: 30px;
  align-items: center;
}

/* Buch */

#buch {
  background-image: url("./images/mauer.jpg");
  background-size: 100%;
  color: whitesmoke;
  margin: 0px auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #6d6e70;
  padding: 30px;
  color: whitesmoke;
}

#buchalles {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6d6e70;
  padding: 30px;
  margin: 0px auto;
  max-width: 650px;
}

.kaufen {
  color: whitesmoke;
  width: 100px;
  text-align: center;
  letter-spacing: -0.03em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #384658;
  padding: 7px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 10px;
}

.buch {
  display: flex;
  flex-direction: row-reverse;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: -0.02rem;
  font-size: 0.8em;
  gap: 20px;
  padding: 30px;
}

.buch img {
  margin-top: 20px;
}

/* Hintergruende */

#info {
  display: flex;
  flex-direction: row-reverse;
  background-image: url("./images/mauer.jpg");
  background-size: 100%;
  background-position: center;
  padding: 30px;
}

.info {
  max-width: 650px;
  margin: 0px auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: -0.02rem;
  font-size: 0.8em;
  gap: 20px;
  background-color: #6d6e70;
  padding: 30px;
  color: whitesmoke;
}

@media screen and (max-width: 650px) {
  .navbar {
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
  }

  .navbar a {
    text-decoration: none;
    width: 200px;
    text-align: left;
    height: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.1em;
    color: whitesmoke;
    padding: 5px 35px;
    font-size: 0.8em;
  }
  .navbar p {
    text-decoration: none;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.1em;
    color: whitesmoke;
    padding: 10px 0px;
    font-size: 0.6em;
    margin-left: auto;
    margin-right: auto;
  }
}
